<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profil</title>

<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/vendor/jqueryui/css/jquery-ui.css">

<script src="/vendor/jquery/jquery-3.6.3.min.js"></script>
<script src="/vendor/jqueryui/js/jquery-ui.js"></script>
<script src="/vendor/jqueryui/js/jquery.ui.datepicker-id.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/fontawesome/js/all.min.js"></script>

</head>

<style>
	.namaPasien {
		color: royalblue;
		font-size: 14pt;
	}

	.detailPasien {
		color: slateblue;
		font-size: 12pt;
	}

	.chatJanjiPasien {
		color: slateblue;
		font-size: 10pt;
	}

	.dataSorter {
		color: slateblue;
		font-size: 12pt;
	}

	#sorter {
		width: 50%;
		height: 35px;
		border-color: lightgray;
		color: royalblue;
	}

	multipleDelete .btn {
		height: 40px;
	}

	.sorter-div button {
		padding: 0px 4px;
		height: 40px;
	}

	input[type="radio"] {
		margin-top: -1px;
		vertical-align: middle;
	}

	#goldar-opt,
	#height-form,
	#weight-form {
		width: 75%;
		height: 35px;
		border-color: lightgray;
		color: royalblue;
		border-radius: 5px;
		padding-left: 5px;
	}

	#relation-opt {
		width: 100%;
		height: 35px;
		border-color: lightgray;
		color: royalblue;
		border-radius: 5px;
		padding-left: 5px;
	}

	.dropdown-menu {
		min-width: 0px;
	}

	.dropdown-item {
		color: royalblue;
	}
</style>

<body>
	<!-- Header -->
	<header class="container-fluid p-5 bg-dark text-white">
		<h1>Profil Page</h1>
	</header>

	<!-- Breadcrumb Navigation -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Beranda</a></li>
			<li class="breadcrumb-item active" aria-current="page">Profil</li>
		</ol>
	</nav>

	<!-- Main Page -->
	<section class="container-fluid">
		<!-- Table -->
		<table style="width: 100%; height: 100%;">
			<!-- Baris Kontennya -->
			<tbody id="content-tbody">
				<tr>

					<!-- Kolom kiri, foto, tingkat member, menu2 -->
					<td style="text-align: center; width: 30%; vertical-align: top;">
						<div class="image-container p-4">
							<img src="/image/icon_profile_picture.png" id="imgProfile"
								style="width: 200px; height: 200px" class="img-thumbnail rounded-circle" />
						</div>
						<div class="image-container">
							<img src="/image/gold_star.jpg" id="starProfile" style="width: 50; height: 50" />
						</div>
						<div style="text-align: center;">
							<p>Bronze Member</p>
							<p style="margin-top: -10px;">Since 2020</p>
						</div>
						<div style="text-align: left; margin-left: 75px;">
							<div style="margin-top: 100px;">
								<button id="btn-pasien-to-page" class="btn">
									<h5 style="color: royalblue; margin-left: 0px;">Pasien</h5>
								</button>
							</div>
							<div>
								<button id="btn-pasien-to-page" class="btn">
									<h5 style="color: royalblue; margin-left: 0px;">Pembelian Obat</h5>
								</button>
							</div>
							<div>
								<button id="btn-pasien-to-page" class="btn">
									<h5 style="color: royalblue; margin-left: 0px;">Rencana Kedatangan</h5>
								</button>
							</div>
							<div>
								<button id="btn-pasien-to-page" class="btn">
									<h5 style="color: royalblue; margin-left: 0px;">Riwayat Chat Dokter</h5>
								</button>
							</div>
						</div>
					</td>

					<!-- Kolom kanan, data pribadi, data akun, update akun -->
					<td style="width: 70%;">
						<h4 style="color: royalblue;">Daftar Pasien</h4>
						<table class="table table-bordered" id="tabelPasien">
							<tr>
								<td>
									<div class="row">


										<div class="col-7 input-group" style="padding: 5mm;" id="filter-header">
											<input class="form-control border-end-0 border" type="text"
												placeholder="Cari nama pasien" id="example-search-input">
											<span class="input-group-append">
												<button
													class="btn btn-outline-secondary bg-white border-start-0 border ms-n3"
													type="button" id="btn-search">
													<i class="fa fa-search"></i>
												</button>
												<button id="btnResetFilter"
													class="btn btn-outline-secondary bg-white border-start-0 border ms-n3" hidden>
													<a style="color: royalblue;">Reset Filter</a>
												</button>
											</span>
										</div>

										<div class="col-5" style="text-align: center; padding: 5mm;">
											<label for="sorter" class="dataSorter">Urutkan</label>
											<select name="sorter" id="sorter">
												<option id="nameSorter" value="name">Nama</option>
												<option id="ccSorter" value="cc">Chat</option>
												<option id="acSorter" value="ac">Janji</option>
											</select>
										</div>

										<div class="multipleDelete col-6" style="padding: 9mm 5mm 0mm 5mm;">
											<button
												class="btn btn-outline-secondary bg-white border-start-0 border ms-n3"
												id="multipleDelete" disabled>
												<i class="fa-solid fa-trash-can" style="color: royalblue;"></i>
												<a style="color: royalblue;">Hapus</a>
											</button>
										</div>

										<div class="sorter-div col-6"
											style="text-align: right; padding: 9mm 5mm 0mm 0mm;">
											<div class="btn-group">
												<button id="pasienSorter" class="btn" style="margin-bottom: 5px;">
													<a id="ascdescSort" style="color: royalblue;">A-Z</a>
												</button>
											</div>
											<a style="color: royalblue;">
												|
											</a>
											<div class="btn-group">
												<div class="dropdown">
													<button class="btn" type="button" id="dropdownMenuButton"
														data-toggle="dropdown" aria-haspopup="true"
														aria-expanded="false"
														style="color: royalblue; margin-bottom: 5px;">
														5
													</button>
													<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
														<a class="dropdown-item" href="#" id="limit1">5</a>
														<a class="dropdown-item" href="#" id="limit2">10</a>
													</div>
												</div>
											</div>
											<a style="color: royalblue;">
												|
											</a>
											<div class="btn-group">
												<button id="insertPasien" class="btn" onclick="insertPasien()"
													style="margin-bottom: 5px;">
													<i class="fa-solid fa-plus" style="color: royalblue;"></i>
													<a style="color: royalblue;">
														Tambah
													</a>
												</button>
											</div>
										</div>


									</div>
								</td>
							</tr>

							<tbody id="daftarPasien">
								<tr>
									<td>
										<div class="row">
											<div class="col-1" style="text-align: center; margin: auto;">
												<input type="checkbox" value="1" class="pasienSelector">
											</div>
											<div class="col-7">
												<div class="namaPasien">Elga</div>
												<div class="detailPasien">Anak, 5 Tahun</div>
												<div class="chatJanjiPasien">9 Chat Online, 5 Janji Dokter</div>
											</div>
											<div class="col-4" style="text-align: right; margin: auto;">
												<button id="btnUbahDataPasien" class="btn"
													onclick="bukaPopupUbahDataPasien()">
													<i class="fa-solid fa-pen-to-square" style="color: royalblue;"></i>
													<a style="color: royalblue;">Ubah</a>
												</button>
												<button id="btnHapusDataPasien" class="btn"
													onclick="bukaPopupHapusDataPasien()">
													<i class="fa-solid fa-trash-can" style="color: royalblue;"></i>
													<a style="color: royalblue;">Hapus</a>
												</button>
											</div>
										</div>
									</td>
								</tr>

								<tr>
									<td>
										<div class="row">
											<div class="col-1" style="text-align: center; margin: auto;">
												<input type="checkbox" value="2" class="pasienSelector">
											</div>
											<div class="col-7">
												<div class="namaPasien">Fiona</div>
												<div class="detailPasien">Anak, 7 Tahun</div>
												<div class="chatJanjiPasien">3 Chat Online, 3 Janji Dokter</div>
											</div>
											<div class="col-4" style="text-align: right; margin: auto;">
												<button id="btnUbahDataPasien" class="btn"
													onclick="bukaPopupUbahDataPasien()">
													<i class="fa-solid fa-pen-to-square" style="color: royalblue;"></i>
													<a style="color: royalblue;">Ubah</a>
												</button>
												<button id="btnHapusDataPasien" class="btn"
													onclick="bukaPopupHapusDataPasien()">
													<i class="fa-solid fa-trash-can" style="color: royalblue;"></i>
													<a style="color: royalblue;">Hapus</a>
												</button>
											</div>
										</div>
									</td>
								</tr>

								<tr>
									<td>
										<div class="row">
											<div class="col-1" style="text-align: center; margin: auto;">
												<input type="checkbox" value="3" class="pasienSelector">
											</div>
											<div class="col-7">
												<div class="namaPasien">Viktor</div>
												<div class="detailPasien">Suami, 34 Tahun</div>
												<div class="chatJanjiPasien">0 Chat Online, 1 Janji Dokter</div>
											</div>
											<div class="col-4" style="text-align: right; margin: auto;">
												<button id="btnUbahDataPasien" class="btn"
													onclick="bukaPopupUbahDataPasien()">
													<i class="fa-solid fa-pen-to-square" style="color: royalblue;"></i>
													<a style="color: royalblue;">Ubah</a>
												</button>
												<button id="btnHapusDataPasien" class="btn"
													onclick="bukaPopupHapusDataPasien()">
													<i class="fa-solid fa-trash-can" style="color: royalblue;"></i>
													<a style="color: royalblue;">Hapus</a>
												</button>
											</div>
										</div>
									</td>
								</tr>
							</tbody>

							<tr style="height: 250px;">
								<td>
									<div style="text-align: center; padding-top: 5mm;">
										<a id="banyakData" style="color: royalblue; font-size: 10pt;">Menampilkan
											1 - 3 dari 3</a>
										<button id="btnSebelumnya"
											class="btn btn-outline-secondary bg-white border-start-0 border ms-n3"
											style="color: royalblue;">
											Sebelumnya
										</button>
										<button id="btnSelanjutnya"
											class="btn btn-outline-secondary bg-white border-start-0 border ms-n3"
											style="color: royalblue;">
											Selanjutnya
										</button>
									</div>
								</td>
							</tr>

						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</section>

	<footer class="container-fluid bg-dark text-white p-5 text-center">
		<h6>© 2023 Batch 310 - Java Spring Boot Mini Project</h6>
	</footer>

	<!-- Modal -->
	<div class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" style="color: royalblue;">Add Abcabc</h5>
					<button id="modal-close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var user = "[[${user_id}]]";
		var keyword = null;
		var limit = null;
		var sorter = null;
		var ascdesc = null;
	</script>
	<!--script src="/pasien/get-pagination.js" type="text/javascript"></script-->
	<script src="/pasien/get-sort.js" type="text/javascript"></script>
	<script src="/pasien/insert.js" type="text/javascript"></script>
	<script src="/pasien/update.js" type="text/javascript"></script>
	<script src="/pasien/delete.js" type="text/javascript"></script>
	<script src="/pasien/search.js" type="text/javascript"></script>
	<script src="/pasien/limit.js" type="text/javascript"></script>
	<script src="/pasien/sorter.js" type="text/javascript"></script>

</body>

</html>